* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  font-size: 4em;
  margin: 40px;
}

.chicken-info,
.beef-info,
.sushi-info {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  margin-top: 50px;
}

@media (min-width: 992px) {
  .chickenDiv,
  .beefDiv,
  .sushiDiv {
    width: 30%;
    float: left;
    background-color: lightgray;
    padding: 10px;
    border: 3px solid black;
    margin-left: 40px;
    position: relative;
  }

  .chicken {
    background-color: pink;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .beef {
    background-color: orange;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .sushi {
    background-color: lightblue;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .chickenDiv,
  .beefDiv {
    width: 40%;
    float: left;
    background-color: lightgray;
    padding: 10px;
    border: 3px solid black;
    margin-left: 40px;
    position: relative;
  }

  .sushiDiv {
    width: 84.1%;
    float: left;
    background-color: lightgray;
    padding: 10px;
    border: 3px solid black;
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
  }

  .chicken {
    background-color: pink;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .beef {
    background-color: orange;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .sushi {
    background-color: lightblue;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }
}

@media (max-width: 767px) {
  .chickenDiv,
  .beefDiv,
  .sushiDiv {
    width: 80%;
    float: left;
    background-color: lightgray;
    padding: 10px;
    border: 3px solid black;
    margin-left: 40px;
    margin-top: 20px;
    position: relative;
  }

  .chicken {
    background-color: pink;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .beef {
    background-color: orange;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }

  .sushi {
    background-color: lightblue;
    font-size: 20px;
    display: inline;
    float: right;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    padding-left: 20px;
    margin: -13px;
  }
}
